body {
    text-align: center;
    font-family: "Roboto", sans-serif;
}

div.header {
    background-color: #1F2937;
    font-family: "Roboto", sans-serif;
    color: #F9FAF8;
    font-weight: bold;
    font-size: 48px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header ul {
    list-style: none;
    font-size: 18px;
    color: #E5E7EB;
}

.header li {
    display: inline;
}

div.hero {
    display: flex;
    background-color: #1F2937;
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    justify-content: space-around;
    align-items: center;
}

.hero button {
    border-radius: 10px;
    background-color: #3882F6;
}

div .content_header {
    font-weight: bold;
    font-size: 36px;
    color: #1F2937;
    margin-top: 25px;
}

.content_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.info {
    margin: 20px;
    flex: 0;
}

.info img {
    border: 5px solid #3882F6;
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

div.quote {
    background-color: #E5E7EB;
    color: #1F2937;
    display: flex;
    flex-direction: column;
}

.quote_append {
    font-weight: bold;
    align-self: flex-end;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.call {
    background-color: #3882F6;
    color:#E5E7EB;
    border-radius: 10px;
    padding: 40px 80px;
    display: flex;
    flex: none;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.call button {
    background-color: #3882F6;
    border-radius: 10px;
    color: #E5E7EB;
    border: 2px solid #E5E7EB;
    padding: 5px 20px;
    font-weight: bold;

}

.call div {
    text-align: start;
}

.call div .call_text_title {
    font-weight: bold;
}
