div.header {
    background-color: #1F2937;
    font-family: "Roboto", sans-serif;
    color: #F9FAF8;
    font-weight: bold;
    font-size: 48px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header ul {
    list-style: none;
    font-size: 18px;
    color: #E5E7EB;
}

.header li {
    display: inline;
}

div.hero {
    display: flex;
    background-color: #1F2937;
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    justify-content: space-around;
    align-items: center;
    padding: 40px 150px;
}

.hero button {
    border-radius: 10px;
    background-color: #3882F6;
}